<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntitiesUnidades" connectionString="metadata=res://*/ServiceObjects.Unidades.ModelUnidades.csdl|res://*/ServiceObjects.Unidades.ModelUnidades.ssdl|res://*/ServiceObjects.Unidades.ModelUnidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>