<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>

    <!--Cadena de conexión a producción-->
    
    <add name="Entities" connectionString="metadata=res://*/ServiceObjects.MateriasPrimas.ModelMateriasPrimas.csdl|res://*/ServiceObjects.MateriasPrimas.ModelMateriasPrimas.ssdl|res://*/ServiceObjects.MateriasPrimas.ModelMateriasPrimas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesPreMaquinado" connectionString="metadata=res://*/ServiceObjects.Operaciones.Premaquinado.ModelPreMaquinado.csdl|res://*/ServiceObjects.Operaciones.Premaquinado.ModelPreMaquinado.ssdl|res://*/ServiceObjects.Operaciones.Premaquinado.ModelPreMaquinado.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesMateriaPrima" connectionString="metadata=res://*/ServiceObjects.MateriasPrimas.ModelMateriasPrimas.csdl|res://*/ServiceObjects.MateriasPrimas.ModelMateriasPrimas.ssdl|res://*/ServiceObjects.MateriasPrimas.ModelMateriasPrimas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesHerramentales" connectionString="metadata=res://*/ServiceObjects.Herramentales.ModelHerramentales.csdl|res://*/ServiceObjects.Herramentales.ModelHerramentales.ssdl|res://*/ServiceObjects.Herramentales.ModelHerramentales.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesControlDocumentos" connectionString="metadata=res://*/ServiceObjects.ControlDocumentos.ModelControlDocumentos.csdl|res://*/ServiceObjects.ControlDocumentos.ModelControlDocumentos.ssdl|res://*/ServiceObjects.ControlDocumentos.ModelControlDocumentos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesUnidades" connectionString="metadata=res://*/ServiceObjects.Unidades.ModelUnidades.csdl|res://*/ServiceObjects.Unidades.ModelUnidades.ssdl|res://*/ServiceObjects.Unidades.ModelUnidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCliente" connectionString="metadata=res://*/ServiceObjects.Clientes.ModelCliente.csdl|res://*/ServiceObjects.Clientes.ModelCliente.ssdl|res://*/ServiceObjects.Clientes.ModelCliente.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesUsuario" connectionString="metadata=res://*/ServiceObjects.Usuario.ModelUsuario.csdl|res://*/ServiceObjects.Usuario.ModelUsuario.ssdl|res://*/ServiceObjects.Usuario.ModelUsuario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesPerfiles" connectionString="metadata=res://*/ServiceObjects.Perfiles.ModelPerfiles.csdl|res://*/ServiceObjects.Perfiles.ModelPerfiles.ssdl|res://*/ServiceObjects.Perfiles.ModelPerfiles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesTooling" connectionString="metadata=res://*/ServiceObjects.Tooling.ModelTooling.csdl|res://*/ServiceObjects.Tooling.ModelTooling.ssdl|res://*/ServiceObjects.Tooling.ModelTooling.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    
    <!--Cadenas de conexión a Desarrollo-->
    <!--
    <add name="Entities" connectionString="metadata=res://*/ServiceObjects.MateriasPrimas.ModelMateriasPrimas.csdl|res://*/ServiceObjects.MateriasPrimas.ModelMateriasPrimas.ssdl|res://*/ServiceObjects.MateriasPrimas.ModelMateriasPrimas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesPreMaquinado" connectionString="metadata=res://*/ServiceObjects.Operaciones.Premaquinado.ModelPreMaquinado.csdl|res://*/ServiceObjects.Operaciones.Premaquinado.ModelPreMaquinado.ssdl|res://*/ServiceObjects.Operaciones.Premaquinado.ModelPreMaquinado.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesMateriaPrima" connectionString="metadata=res://*/ServiceObjects.MateriasPrimas.ModelMateriasPrimas.csdl|res://*/ServiceObjects.MateriasPrimas.ModelMateriasPrimas.ssdl|res://*/ServiceObjects.MateriasPrimas.ModelMateriasPrimas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesHerramentales" connectionString="metadata=res://*/ServiceObjects.Herramentales.ModelHerramentales.csdl|res://*/ServiceObjects.Herramentales.ModelHerramentales.ssdl|res://*/ServiceObjects.Herramentales.ModelHerramentales.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesControlDocumentos" connectionString="metadata=res://*/ServiceObjects.ControlDocumentos.ModelControlDocumentos.csdl|res://*/ServiceObjects.ControlDocumentos.ModelControlDocumentos.ssdl|res://*/ServiceObjects.ControlDocumentos.ModelControlDocumentos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesUnidades" connectionString="metadata=res://*/ServiceObjects.Unidades.ModelUnidades.csdl|res://*/ServiceObjects.Unidades.ModelUnidades.ssdl|res://*/ServiceObjects.Unidades.ModelUnidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCliente" connectionString="metadata=res://*/ServiceObjects.Clientes.ModelCliente.csdl|res://*/ServiceObjects.Clientes.ModelCliente.ssdl|res://*/ServiceObjects.Clientes.ModelCliente.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesUsuario" connectionString="metadata=res://*/ServiceObjects.Usuario.ModelUsuario.csdl|res://*/ServiceObjects.Usuario.ModelUsuario.ssdl|res://*/ServiceObjects.Usuario.ModelUsuario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesPerfiles" connectionString="metadata=res://*/ServiceObjects.Perfiles.ModelPerfiles.csdl|res://*/ServiceObjects.Perfiles.ModelPerfiles.ssdl|res://*/ServiceObjects.Perfiles.ModelPerfiles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesTooling" connectionString="metadata=res://*/ServiceObjects.Tooling.ModelTooling.csdl|res://*/ServiceObjects.Tooling.ModelTooling.ssdl|res://*/ServiceObjects.Tooling.ModelTooling.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    
    <!--Cadena de conexión a Producción-->
    <add key="CadenaConexion" value="data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2;user id=shruser;password=sOHR2011"/>
    <add key="CadenaConexionSealed" value="User ID=sa;Password=sa;Initial Catalog=intranet;Data Source=sealed"/>
    
    <!--Cadena de conexión a Desarrollo-->
    <!--<add key="CadenaConexion" value="data source=MXAGSQLSRV01\SQLINTERTEL12;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011" />
    <add key="CadenaConexionSealed" value="User ID=sasa;Password=sasa;Initial Catalog=intranet;Data Source=sealed"/>-->
    
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>